In [140]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import json

## To do

- group postcodes by constituency / county?
- average house prices in group
- filter based on property type

### Column Headers
- Transaction unique identifier
- Date of Transfer
- Postcode
- Property Type (D=Detached, S = Semi-Detached, T = Terraced, F = Flats/Maisonettes, O = Other)
- Old/New (Y=Newly Built, N=an established residential building)
- Duration (F=Freehold, L=Leasehold)
- PAON (Primary Addressable Object Name)
- SAON (Secondary Addressable Object Name)
- Street
- Locality
- Town/City
- District
- County
- PPD Category Type (A = Standard Price Paid, B = Additional Price Paid)
- Record Status (A = Addition, C = Change, D = Delete)

### The table has 375,000 rows

In [3]:
headers = ["TID", "Price", "Date", "Postcode", "Prop. Type", "New?", "Duration", "PAON", "SAON", "Street", "Locality", "Town_City", "District", "County", "PPD", "Record_Status"]
df = pd.read_csv('data/pp-2017.csv', parse_dates=True, names=headers)
df = df.dropna(subset=['Postcode'])

In [4]:
df.count()

TID              372511
Price            372511
Date             372511
Postcode         372511
Prop. Type       372511
New?             372511
Duration         372511
PAON             372511
SAON              47770
Street           365815
Locality         136541
Town_City        372511
District         372511
County           372511
PPD              372511
Record_Status    372511
dtype: int64

In [5]:
df.describe(include='all')

,TID,Price,Date,Postcode,Prop. Type,New?,Duration,PAON,SAON,Street,Locality,Town_City,District,County,PPD,Record_Status
count,372511,3.725110e+05,372511,372511,372511,372511,372511,372511,47770,365815,136541,372511,372511,372511,372511,372511
unique,372511,NaN,177,275997,5,2,2,40133,4341,114111,13103,1145,348,112,2,1
top,{47844C80-27E4-8986-E050-A8C063056488},NaN,2017-03-31 00:00,ST5 1LD,T,N,F,2,FLAT 1,HIGH STREET,MIDDLETON,LONDON,BIRMINGHAM,GREATER LONDON,A,A
freq,1,NaN,14228,159,105946,349834,283494,9092,2214,2906,374,24803,5487,41968,321499,372511
mean,NaN,3.270261e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,9.999748e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,1.367500e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,2.170000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,3.430000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,9.876539e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.head()

,TID,Price,Date,Postcode,Prop. Type,New?,Duration,PAON,SAON,Street,Locality,Town_City,District,County,PPD,Record_Status
0,{4C4EDFFF-6C65-1854-E050-A8C063054F34},325000,2017-02-17 00:00,SO50 9QN,T,Y,F,21,NaN,HAWKINS WAY,NaN,EASTLEIGH,EASTLEIGH,HAMPSHIRE,A,A
1,{4C4EDFFF-6C66-1854-E050-A8C063054F34},424950,2017-01-30 00:00,GU14 9FS,D,Y,F,14,NaN,DARTFORD RISE,NaN,FARNBOROUGH,RUSHMOOR,HAMPSHIRE,A,A
2,{4C4EDFFF-6C67-1854-E050-A8C063054F34},499950,2017-03-01 00:00,SO31 8LN,D,Y,F,50,NaN,CLEVERLEY RISE,BURSLEDON,SOUTHAMPTON,EASTLEIGH,HAMPSHIRE,A,A
3,{4C4EDFFF-6C68-1854-E050-A8C063054F34},410000,2017-03-06 00:00,GU14 8AG,T,N,F,12A,NaN,FARNBOROUGH STREET,NaN,FARNBOROUGH,RUSHMOOR,HAMPSHIRE,A,A
4,{4C4EDFFF-6C69-1854-E050-A8C063054F34},184500,2017-02-17 00:00,SO19 2DP,S,N,L,21,NaN,MANOR ROAD SOUTH,NaN,SOUTHAMPTON,SOUTHAMPTON,SOUTHAMPTON,A,A

In [13]:
avg_price_by_county = df['Price'].groupby(df['County']).aggregate([np.mean, np.count_nonzero])

In [15]:
print len(avg_price_by_county)
print avg_price_by_county.head(10)

112
                                       mean  count_nonzero
County
BATH AND NORTH EAST SOMERSET  414963.466052           1193
BEDFORD                       355307.594755           1182
BLACKBURN WITH DARWEN         170143.521390            748
BLACKPOOL                     139402.267385           1021
BLAENAU GWENT                  90300.977591            357
BOURNEMOUTH                   285609.429895           1619
BRACKNELL FOREST              468772.202532            790
BRIDGEND                      161185.490031            953
BRIGHTON AND HOVE             428552.935924           1904
BUCKINGHAMSHIRE               517746.714165           3544

In [18]:
avg_price_by_county['count_nonzero'].sum()

372511

In [16]:
avg_price_by_postcode_long = df['Price'].groupby(df['Postcode']).aggregate(np.mean)
print len(avg_price_by_postcode_long)
print avg_price_by_postcode_long.head(10)

275997
Postcode
AL1 1BH    2.608333e+05
AL1 1DH    5.585000e+05
AL1 1DU    7.800000e+05
AL1 1EA    1.025000e+06
AL1 1EE    1.035000e+06
AL1 1EX    3.500000e+05
AL1 1HF    9.000000e+05
AL1 1HY    2.407500e+06
AL1 1JE    3.925000e+05
AL1 1JR    2.775000e+05
Name: Price, dtype: float64

In [9]:
avg_price_by_postcode_district = df['Price'].groupby(df['Postcode'].map(lambda pcode: pcode.split(" ")[0])).aggregate(np.mean)
print len(avg_price_by_postcode_district)
print avg_price_by_postcode_district.head(10)

2292
Postcode
AL1     587035.796364
AL10    356429.896296
AL2     491614.760000
AL3     564789.604278
AL4     571469.696970
AL5     850726.401961
AL6     667624.852941
AL7     360458.391304
AL8     426044.602273
AL9     653268.571429
Name: Price, dtype: float64

In [10]:
p = "E5 1LY"
m = re.search('[A-Z]*', p)
m.group(0)

'E'

In [12]:
avg_price_by_postcode_area = df['Price'].groupby(df['Postcode'].map(lambda pcode: re.search('[A-Z]*', pcode).group(0))).aggregate(np.mean)
print len(avg_price_by_postcode_area)
print avg_price_by_postcode_area.head(10)

105
Postcode
AL    556230.425853
B     264795.327457
BA    326434.865691
BB    189751.837478
BD    159388.075573
BH    350369.946811
BL    173479.866337
BN    355016.076368
BR    513050.087193
BS    326309.131503
Name: Price, dtype: float64

In [27]:
avg_price_by_postcode_area.to_frame().reset_index().to_json('price_by_area.json', orient='values')

In [13]:
avg_price_by_postcode_district.to_frame().reset_index().to_json('price_by_district.json', orient='values')

# Display a map of the UK?

Or do I want to save that for the front end? Options for what to do next:
1. Create a csv of this data, and then parse them in a D3 front end
2. Create an API which pumps out this data, and then a D3 front end to parse
3. Create the map visualizations right here in this notebook (for prototyping at least)

I think option 3 makes the most sense. Let's see if I can leverage postcodes.io

# The Giant Data Structure

The final result should have the format
```
{
    "area": {
        "year": {
            "type": {
                "D": {"avg_price": ..., "count": ...},
            }
            "total": {"avg_price": ..., "count": ...},
        }
    }
}
```

Of course, there will be intermediate stages. The first one will probably be something like:
YEAR
```
{
    "year": {
        "area": {
            "type": {
                "D": {"avg_price": ..., "count": ...},
            }
            "total": {"avg_price": ..., "count": ...},
        }
    }
}
```

In [148]:
headers = ["TID", "Price", "Date", "Postcode", "Prop. Type", "New?", "Duration", "PAON", "SAON", "Street", "Locality", "Town_City", "District", "County", "PPD", "Record_Status"]

def areas_for_year(year, criteria):
    df = pd.read_csv('data/pp-{}.csv'.format(year), parse_dates=True, names=headers)
    df = df.dropna(subset=['Postcode'])
    
    per_postcode_area_total = df['Price'].groupby(df['Postcode'] \
        .map(criteria)) \
        .aggregate([np.mean, np.count_nonzero]) \
        .rename(columns={'count_nonzero': 'c', 'mean': 'av_pr'}) \
        .astype(int)
    
    per_postcode_area_by_type = df['Price'].groupby([df['Postcode'] \
        .map(criteria), df["Prop. Type"]]) \
        .aggregate([np.mean, np.count_nonzero]) \
        .rename(columns={'count_nonzero': 'c', 'mean': 'av_pr'}) \
        .astype(int)
        
    result = {}
    areas = per_postcode_area_total.index
    areas_total = per_postcode_area_total.to_dict(orient="index")
    
    for area in areas:
        result[area] = {
            "type": per_postcode_area_by_type.loc[area].to_dict(orient="index"),
            "total": areas_total[area]
        }

    return result

In [149]:
criteria_area = lambda pcode: re.search('[A-Z]*', pcode).group(0)
criteria_district = lambda pcode: pcode.split(" ")[0]
data_2017 = areas_for_year(2017, criteria_area)

In [150]:
data_2017

{'AL': {'total': {'av_pr': 556230, 'c': 1524},
  'type': {'D': {'av_pr': 880667, 'c': 316},
   'F': {'av_pr': 290800, 'c': 362},
   'O': {'av_pr': 1267623, 'c': 58},
   'S': {'av_pr': 569430, 'c': 348},
   'T': {'av_pr': 437387, 'c': 440}}},
 'B': {'total': {'av_pr': 264795, 'c': 10551},
  'type': {'D': {'av_pr': 399437, 'c': 1656},
   'F': {'av_pr': 141818, 'c': 1526},
   'O': {'av_pr': 1140624, 'c': 613},
   'S': {'av_pr': 202117, 'c': 3354},
   'T': {'av_pr': 158397, 'c': 3402}}},
 'BA': {'total': {'av_pr': 326434, 'c': 3075},
  'type': {'D': {'av_pr': 420045, 'c': 746},
   'F': {'av_pr': 205893, 'c': 450},
   'O': {'av_pr': 839876, 'c': 177},
   'S': {'av_pr': 265186, 'c': 726},
   'T': {'av_pr': 262907, 'c': 976}}},
 'BB': {'total': {'av_pr': 189751, 'c': 3458},
  'type': {'D': {'av_pr': 251878, 'c': 463},
   'F': {'av_pr': 77221, 'c': 179},
   'O': {'av_pr': 834184, 'c': 229},
   'S': {'av_pr': 147924, 'c': 718},
   'T': {'av_pr': 122247, 'c': 1869}}},
 'BD': {'total': {'av_pr': 159388, 'c': 3533},
  'type': {'D': {'av_pr': 284312, 'c': 511},
   'F': {'av_pr': 88768, 'c': 236},
   'O': {'av_pr': 358523, 'c': 191},
   'S': {'av_pr': 143231, 'c': 1155},
   'T': {'av_pr': 113176, 'c': 1440}}},
 'BH': {'total': {'av_pr': 350369, 'c': 4719},
  'type': {'D': {'av_pr': 456258, 'c': 1707},
   'F': {'av_pr': 218828, 'c': 1593},
   'O': {'av_pr': 776387, 'c': 255},
   'S': {'av_pr': 293889, 'c': 642},
   'T': {'av_pr': 266882, 'c': 522}}},
 'BL': {'total': {'av_pr': 173479, 'c': 2424},
  'type': {'D': {'av_pr': 284972, 'c': 405},
   'F': {'av_pr': 84495, 'c': 198},
   'O': {'av_pr': 332317, 'c': 162},
   'S': {'av_pr': 147173, 'c': 694},
   'T': {'av_pr': 137199, 'c': 965}}},
 'BN': {'total': {'av_pr': 355016, 'c': 6102},
  'type': {'D': {'av_pr': 504240, 'c': 1175},
   'F': {'av_pr': 237322, 'c': 2007},
   'O': {'av_pr': 655926, 'c': 332},
   'S': {'av_pr': 347414, 'c': 1233},
   'T': {'av_pr': 333128, 'c': 1355}}},
 'BR': {'total': {'av_pr': 513050, 'c': 1835},
  'type': {'D': {'av_pr': 859365, 'c': 283},
   'F': {'av_pr': 322579, 'c': 518},
   'O': {'av_pr': 1147700, 'c': 70},
   'S': {'av_pr': 507051, 'c': 493},
   'T': {'av_pr': 426400, 'c': 471}}},
 'BS': {'total': {'av_pr': 326309, 'c': 6593},
  'type': {'D': {'av_pr': 419198, 'c': 1023},
   'F': {'av_pr': 205258, 'c': 1524},
   'O': {'av_pr': 1238045, 'c': 308},
   'S': {'av_pr': 280342, 'c': 1603},
   'T': {'av_pr': 271192, 'c': 2135}}},
 'CA': {'total': {'av_pr': 176974, 'c': 2204},
  'type': {'D': {'av_pr': 258089, 'c': 539},
   'F': {'av_pr': 111564, 'c': 144},
   'O': {'av_pr': 347988, 'c': 151},
   'S': {'av_pr': 151439, 'c': 650},
   'T': {'av_pr': 116519, 'c': 720}}},
 'CB': {'total': {'av_pr': 459485, 'c': 2758},
  'type': {'D': {'av_pr': 505705, 'c': 730},
   'F': {'av_pr': 295246, 'c': 412},
   'O': {'av_pr': 1826310, 'c': 146},
   'S': {'av_pr': 355913, 'c': 664},
   'T': {'av_pr': 339313, 'c': 806}}},
 'CF': {'total': {'av_pr': 197955, 'c': 6423},
  'type': {'D': {'av_pr': 289845, 'c': 1170},
   'F': {'av_pr': 138179, 'c': 636},
   'O': {'av_pr': 738485, 'c': 277},
   'S': {'av_pr': 175371, 'c': 1697},
   'T': {'av_pr': 129512, 'c': 2643}}},
 'CH': {'total': {'av_pr': 209125, 'c': 4366},
  'type': {'D': {'av_pr': 292704, 'c': 1000},
   'F': {'av_pr': 128066, 'c': 382},
   'O': {'av_pr': 693000, 'c': 205},
   'S': {'av_pr': 172740, 'c': 1703},
   'T': {'av_pr': 125626, 'c': 1076}}},
 'CM': {'total': {'av_pr': 429854, 'c': 4689},
  'type': {'D': {'av_pr': 590666, 'c': 1270},
   'F': {'av_pr': 214304, 'c': 927},
   'O': {'av_pr': 1299996, 'c': 210},
   'S': {'av_pr': 376952, 'c': 1126},
   'T': {'av_pr': 319493, 'c': 1156}}},
 'CO': {'total': {'av_pr': 308837, 'c': 3463},
  'type': {'D': {'av_pr': 361169, 'c': 1172},
   'F': {'av_pr': 146677, 'c': 542},
   'O': {'av_pr': 1193033, 'c': 166},
   'S': {'av_pr': 246886, 'c': 858},
   'T': {'av_pr': 216334, 'c': 725}}},
 'CR': {'total': {'av_pr': 461010, 'c': 2531},
  'type': {'D': {'av_pr': 731662, 'c': 314},
   'F': {'av_pr': 280143, 'c': 998},
   'O': {'av_pr': 1476195, 'c': 144},
   'S': {'av_pr': 461632, 'c': 449},
   'T': {'av_pr': 379627, 'c': 626}}},
 'CT': {'total': {'av_pr': 266934, 'c': 3918},
  'type': {'D': {'av_pr': 397515, 'c': 808},
   'F': {'av_pr': 157168, 'c': 793},
   'O': {'av_pr': 405126, 'c': 213},
   'S': {'av_pr': 263414, 'c': 942},
   'T': {'av_pr': 228566, 'c': 1162}}},
 'CV': {'total': {'av_pr': 261557, 'c': 5703},
  'type': {'D': {'av_pr': 382346, 'c': 1228},
   'F': {'av_pr': 147162, 'c': 676},
   'O': {'av_pr': 939460, 'c': 234},
   'S': {'av_pr': 222060, 'c': 1613},
   'T': {'av_pr': 176558, 'c': 1952}}},
 'CW': {'total': {'av_pr': 223840, 'c': 2502},
  'type': {'D': {'av_pr': 302096, 'c': 820},
   'F': {'av_pr': 114946, 'c': 145},
   'O': {'av_pr': 800651, 'c': 95},
   'S': {'av_pr': 169071, 'c': 856},
   'T': {'av_pr': 127774, 'c': 586}}},
 'DA': {'total': {'av_pr': 346189, 'c': 2825},
  'type': {'D': {'av_pr': 548069, 'c': 229},
   'F': {'av_pr': 204759, 'c': 670},
   'O': {'av_pr': 890500, 'c': 101},
   'S': {'av_pr': 383456, 'c': 817},
   'T': {'av_pr': 309586, 'c': 1008}}},
 'DE': {'total': {'av_pr': 216971, 'c': 4990},
  'type': {'D': {'av_pr': 271072, 'c': 1609},
   'F': {'av_pr': 118612, 'c': 230},
   'O': {'av_pr': 829497, 'c': 234},
   'S': {'av_pr': 160177, 'c': 1641},
   'T': {'av_pr': 127191, 'c': 1276}}},
 'DH': {'total': {'av_pr': 147421, 'c': 2029},
  'type': {'D': {'av_pr': 229750, 'c': 431},
   'F': {'av_pr': 101328, 'c': 79},
   'O': {'av_pr': 433637, 'c': 100},
   'S': {'av_pr': 119457, 'c': 681},
   'T': {'av_pr': 91296, 'c': 738}}},
 'DL': {'total': {'av_pr': 156226, 'c': 2552},
  'type': {'D': {'av_pr': 238127, 'c': 602},
   'F': {'av_pr': 95813, 'c': 117},
   'O': {'av_pr': 338591, 'c': 160},
   'S': {'av_pr': 143950, 'c': 690},
   'T': {'av_pr': 92194, 'c': 983}}},
 'DN': {'total': {'av_pr': 154385, 'c': 5055},
  'type': {'D': {'av_pr': 215565, 'c': 1518},
   'F': {'av_pr': 84643, 'c': 128},
   'O': {'av_pr': 415021, 'c': 241},
   'S': {'av_pr': 122509, 'c': 1843},
   'T': {'av_pr': 87963, 'c': 1325}}},
 'DT': {'total': {'av_pr': 297467, 'c': 1767},
  'type': {'D': {'av_pr': 414292, 'c': 526},
   'F': {'av_pr': 170722, 'c': 308},
   'O': {'av_pr': 527443, 'c': 97},
   'S': {'av_pr': 279655, 'c': 311},
   'T': {'av_pr': 222838, 'c': 525}}},
 'DY': {'total': {'av_pr': 200413, 'c': 2338},
  'type': {'D': {'av_pr': 293425, 'c': 575},
   'F': {'av_pr': 105056, 'c': 209},
   'O': {'av_pr': 489999, 'c': 113},
   'S': {'av_pr': 163227, 'c': 851},
   'T': {'av_pr': 141716, 'c': 590}}},
 'E': {'total': {'av_pr': 542907, 'c': 4932},
  'type': {'D': {'av_pr': 958758, 'c': 29},
   'F': {'av_pr': 419040, 'c': 3157},
   'O': {'av_pr': 1633880, 'c': 325},
   'S': {'av_pr': 638500, 'c': 179},
   'T': {'av_pr': 548792, 'c': 1242}}},
 'EC': {'total': {'av_pr': 2428685, 'c': 234},
  'type': {'F': {'av_pr': 840736, 'c': 139},
   'O': {'av_pr': 5144059, 'c': 84},
   'T': {'av_pr': 1759000, 'c': 11}}},
 'EN': {'total': {'av_pr': 453021, 'c': 1948},
  'type': {'D': {'av_pr': 835220, 'c': 162},
   'F': {'av_pr': 273389, 'c': 657},
   'O': {'av_pr': 934490, 'c': 119},
   'S': {'av_pr': 512307, 'c': 421},
   'T': {'av_pr': 408621, 'c': 589}}},
 'EX': {'total': {'av_pr': 284519, 'c': 4579},
  'type': {'D': {'av_pr': 358753, 'c': 1445},
   'F': {'av_pr': 167030, 'c': 613},
   'O': {'av_pr': 570047, 'c': 352},
   'S': {'av_pr': 240509, 'c': 867},
   'T': {'av_pr': 209558, 'c': 1302}}},
 'FY': {'total': {'av_pr': 166178, 'c': 2050},
  'type': {'D': {'av_pr': 253378, 'c': 342},
   'F': {'av_pr': 116488, 'c': 231},
   'O': {'av_pr': 374860, 'c': 136},
   'S': {'av_pr': 142828, 'c': 806},
   'T': {'av_pr': 114019, 'c': 535}}},
 'GL': {'total': {'av_pr': 312171, 'c': 4691},
  'type': {'D': {'av_pr': 428245, 'c': 1235},
   'F': {'av_pr': 172793, 'c': 665},
   'O': {'av_pr': 886799, 'c': 257},
   'S': {'av_pr': 246013, 'c': 1406},
   'T': {'av_pr': 218797, 'c': 1128}}},
 'GU': {'total': {'av_pr': 494963, 'c': 4896},
  'type': {'D': {'av_pr': 734920, 'c': 1433},
   'F': {'av_pr': 256698, 'c': 1086},
   'O': {'av_pr': 1131611, 'c': 256},
   'S': {'av_pr': 411163, 'c': 1122},
   'T': {'av_pr': 340746, 'c': 999}}},
 'HA': {'total': {'av_pr': 640302, 'c': 1837},
  'type': {'D': {'av_pr': 974312, 'c': 190},
   'F': {'av_pr': 334105, 'c': 638},
   'O': {'av_pr': 2551319, 'c': 114},
   'S': {'av_pr': 586340, 'c': 472},
   'T': {'av_pr': 497291, 'c': 423}}},
 'HD': {'total': {'av_pr': 181955, 'c': 1654},
  'type': {'D': {'av_pr': 281362, 'c': 347},
   'F': {'av_pr': 102117, 'c': 109},
   'O': {'av_pr': 465014, 'c': 93},
   'S': {'av_pr': 154371, 'c': 440},
   'T': {'av_pr': 121835, 'c': 665}}},
 'HG': {'total': {'av_pr': 356057, 'c': 994},
  'type': {'D': {'av_pr': 500462, 'c': 247},
   'F': {'av_pr': 236660, 'c': 168},
   'O': {'av_pr': 903197, 'c': 60},
   'S': {'av_pr': 273632, 'c': 276},
   'T': {'av_pr': 250342, 'c': 243}}},
 'HP': {'total': {'av_pr': 475403, 'c': 3345},
  'type': {'D': {'av_pr': 757285, 'c': 842},
   'F': {'av_pr': 245454, 'c': 721},
   'O': {'av_pr': 946520, 'c': 169},
   'S': {'av_pr': 412192, 'c': 813},
   'T': {'av_pr': 350678, 'c': 800}}},
 'HR': {'total': {'av_pr': 261620, 'c': 1171},
  'type': {'D': {'av_pr': 317662, 'c': 456},
   'F': {'av_pr': 130429, 'c': 87},
   'O': {'av_pr': 530739, 'c': 100},
   'S': {'av_pr': 195085, 'c': 266},
   'T': {'av_pr': 172476, 'c': 262}}},
 'HU': {'total': {'av_pr': 271400, 'c': 2927},
  'type': {'D': {'av_pr': 278045, 'c': 550},
   'F': {'av_pr': 125946, 'c': 178},
   'O': {'av_pr': 1697977, 'c': 210},
   'S': {'av_pr': 151606, 'c': 876},
   'T': {'av_pr': 116499, 'c': 1113}}},
 'HX': {'total': {'av_pr': 189175, 'c': 1081},
  'type': {'D': {'av_pr': 346047, 'c': 130},
   'F': {'av_pr': 112513, 'c': 76},
   'O': {'av_pr': 590143, 'c': 86},
   'S': {'av_pr': 156985, 'c': 273},
   'T': {'av_pr': 111146, 'c': 516}}},
 'IG': {'total': {'av_pr': 483645, 'c': 1503},
  'type': {'D': {'av_pr': 881266, 'c': 93},
   'F': {'av_pr': 265944, 'c': 468},
   'O': {'av_pr': 1400253, 'c': 88},
   'S': {'av_pr': 545732, 'c': 257},
   'T': {'av_pr': 430526, 'c': 597}}},
 'IP': {'total': {'av_pr': 298878, 'c': 4267},
  'type': {'D': {'av_pr': 355879, 'c': 1504},
   'F': {'av_pr': 141116, 'c': 386},
   'O': {'av_pr': 1117453, 'c': 194},
   'S': {'av_pr': 228752, 'c': 1145},
   'T': {'av_pr': 199319, 'c': 1038}}},
 'KT': {'total': {'av_pr': 649749, 'c': 3428},
  'type': {'D': {'av_pr': 1071002, 'c': 773},
   'F': {'av_pr': 338521, 'c': 951},
   'O': {'av_pr': 1679344, 'c': 156},
   'S': {'av_pr': 569589, 'c': 888},
   'T': {'av_pr': 469316, 'c': 660}}},
 'L': {'total': {'av_pr': 179917, 'c': 5173},
  'type': {'D': {'av_pr': 308900, 'c': 590},
   'F': {'av_pr': 112887, 'c': 822},
   'O': {'av_pr': 584135, 'c': 354},
   'S': {'av_pr': 170235, 'c': 1516},
   'T': {'av_pr': 100902, 'c': 1891}}},
 'LA': {'total': {'av_pr': 210825, 'c': 2611},
  'type': {'D': {'av_pr': 335690, 'c': 505},
   'F': {'av_pr': 145926, 'c': 332},
   'O': {'av_pr': 519204, 'c': 167},
   'S': {'av_pr': 182978, 'c': 697},
   'T': {'av_pr': 129946, 'c': 910}}},
 'LD': {'total': {'av_pr': 202883, 'c': 329},
  'type': {'D': {'av_pr': 230333, 'c': 139},
   'F': {'av_pr': 94045, 'c': 11},
   'O': {'av_pr': 325118, 'c': 36},
   'S': {'av_pr': 171996, 'c': 65},
   'T': {'av_pr': 138638, 'c': 78}}},
 'LE': {'total': {'av_pr': 227820, 'c': 6576},
  'type': {'D': {'av_pr': 316473, 'c': 1955},
   'F': {'av_pr': 127044, 'c': 448},
   'O': {'av_pr': 473069, 'c': 336},
   'S': {'av_pr': 185724, 'c': 2132},
   'T': {'av_pr': 156958, 'c': 1705}}},
 'LL': {'total': {'av_pr': 182151, 'c': 3509},
  'type': {'D': {'av_pr': 226554, 'c': 1237},
   'F': {'av_pr': 115564, 'c': 246},
   'O': {'av_pr': 314888, 'c': 316},
   'S': {'av_pr': 146649, 'c': 959},
   'T': {'av_pr': 120305, 'c': 751}}},
 'LN': {'total': {'av_pr': 192080, 'c': 2330},
  'type': {'D': {'av_pr': 234207, 'c': 1002},
   'F': {'av_pr': 121364, 'c': 78},
   'O': {'av_pr': 363801, 'c': 114},
   'S': {'av_pr': 152731, 'c': 613},
   'T': {'av_pr': 130609, 'c': 523}}},
 'LS': {'total': {'av_pr': 245258, 'c': 5574},
  'type': {'D': {'av_pr': 386824, 'c': 906},
   'F': {'av_pr': 142341, 'c': 884},
   'O': {'av_pr': 1065940, 'c': 246},
   'S': {'av_pr': 200894, 'c': 1850},
   'T': {'av_pr': 152191, 'c': 1688}}},
 'LU': {'total': {'av_pr': 362007, 'c': 2314},
  'type': {'D': {'av_pr': 433749, 'c': 320},
   'F': {'av_pr': 141734, 'c': 451},
   'O': {'av_pr': 2057466, 'c': 128},
   'S': {'av_pr': 284489, 'c': 713},
   'T': {'av_pr': 240409, 'c': 702}}},
 'M': {'total': {'av_pr': 218146, 'c': 7427},
  'type': {'D': {'av_pr': 298133, 'c': 663},
   'F': {'av_pr': 160986, 'c': 1616},
   'O': {'av_pr': 1060902, 'c': 361},
   'S': {'av_pr': 188637, 'c': 2313},
   'T': {'av_pr': 138662, 'c': 2474}}},
 'ME': {'total': {'av_pr': 296712, 'c': 4753},
  'type': {'D': {'av_pr': 436388, 'c': 808},
   'F': {'av_pr': 170585, 'c': 693},
   'O': {'av_pr': 840293, 'c': 190},
   'S': {'av_pr': 290562, 'c': 1238},
   'T': {'av_pr': 230310, 'c': 1824}}},
 'MK': {'total': {'av_pr': 340027, 'c': 3754},
  'type': {'D': {'av_pr': 447438, 'c': 1008},
   'F': {'av_pr': 161919, 'c': 578},
   'O': {'av_pr': 1444974, 'c': 145},
   'S': {'av_pr': 280514, 'c': 1011},
   'T': {'av_pr': 235903, 'c': 1012}}},
 'N': {'total': {'av_pr': 693626, 'c': 3456},
  'type': {'D': {'av_pr': 1874870, 'c': 99},
   'F': {'av_pr': 494627, 'c': 1874},
   'O': {'av_pr': 1121134, 'c': 302},
   'S': {'av_pr': 919707, 'c': 311},
   'T': {'av_pr': 758638, 'c': 870}}},
 'NE': {'total': {'av_pr': 189662, 'c': 7554},
  'type': {'D': {'av_pr': 290281, 'c': 1188},
   'F': {'av_pr': 110230, 'c': 1380},
   'O': {'av_pr': 507074, 'c': 514},
   'S': {'av_pr': 161711, 'c': 2141},
   'T': {'av_pr': 141090, 'c': 2331}}},
 'NG': {'total': {'av_pr': 218395, 'c': 8061},
  'type': {'D': {'av_pr': 257620, 'c': 2494},
   'F': {'av_pr': 120081, 'c': 592},
   'O': {'av_pr': 1237161, 'c': 332},
   'S': {'av_pr': 151503, 'c': 2641},
   'T': {'av_pr': 117897, 'c': 2002}}},
 'NN': {'total': {'av_pr': 258988, 'c': 5380},
  'type': {'D': {'av_pr': 336997, 'c': 1479},
   'F': {'av_pr': 118629, 'c': 451},
   'O': {'av_pr': 862485, 'c': 267},
   'S': {'av_pr': 209347, 'c': 1534},
   'T': {'av_pr': 175874, 'c': 1649}}},
 'NP': {'total': {'av_pr': 198398, 'c': 3154},
  'type': {'D': {'av_pr': 277605, 'c': 766},
   'F': {'av_pr': 94919, 'c': 186},
   'O': {'av_pr': 930029, 'c': 150},
   'S': {'av_pr': 151749, 'c': 865},
   'T': {'av_pr': 105037, 'c': 1187}}},
 'NR': {'total': {'av_pr': 251378, 'c': 5627},
  'type': {'D': {'av_pr': 312220, 'c': 1965},
   'F': {'av_pr': 151344, 'c': 500},
   'O': {'av_pr': 555332, 'c': 335},
   'S': {'av_pr': 211435, 'c': 1289},
   'T': {'av_pr': 173434, 'c': 1538}}},
 'NW': {'total': {'av_pr': 933967, 'c': 2658},
  'type': {'D': {'av_pr': 2482018, 'c': 107},
   'F': {'av_pr': 648295, 'c': 1700},
   'O': {'av_pr': 1732999, 'c': 223},
   'S': {'av_pr': 1219245, 'c': 252},
   'T': {'av_pr': 1119942, 'c': 376}}},
 'OL': {'total': {'av_pr': 161007, 'c': 2682},
  'type': {'D': {'av_pr': 254265, 'c': 399},
   'F': {'av_pr': 100868, 'c': 102},
   'O': {'av_pr': 420685, 'c': 202},
   'S': {'av_pr': 142378, 'c': 768},
   'T': {'av_pr': 103845, 'c': 1211}}},
 'OX': {'total': {'av_pr': 434961, 'c': 3747},
  'type': {'D': {'av_pr': 548532, 'c': 976},
   'F': {'av_pr': 259614, 'c': 528},
   'O': {'av_pr': 1329105, 'c': 204},
   'S': {'av_pr': 349613, 'c': 1087},
   'T': {'av_pr': 321625, 'c': 952}}},
 'PE': {'total': {'av_pr': 235117, 'c': 6945},
  'type': {'D': {'av_pr': 284343, 'c': 2730},
   'F': {'av_pr': 126750, 'c': 543},
   'O': {'av_pr': 573366, 'c': 377},
   'S': {'av_pr': 181974, 'c': 1781},
   'T': {'av_pr': 163506, 'c': 1514}}},
 'PL': {'total': {'av_pr': 244299, 'c': 4260},
  'type': {'D': {'av_pr': 321740, 'c': 1073},
   'F': {'av_pr': 137530, 'c': 506},
   'O': {'av_pr': 614528, 'c': 320},
   'S': {'av_pr': 194114, 'c': 934},
   'T': {'av_pr': 173752, 'c': 1427}}},
 'PO': {'total': {'av_pr': 278922, 'c': 6205},
  'type': {'D': {'av_pr': 419636, 'c': 1389},
   'F': {'av_pr': 160678, 'c': 1300},
   'O': {'av_pr': 531111, 'c': 306},
   'S': {'av_pr': 266142, 'c': 1304},
   'T': {'av_pr': 225282, 'c': 1906}}},
 'PR': {'total': {'av_pr': 223579, 'c': 3418},
  'type': {'D': {'av_pr': 276213, 'c': 833},
   'F': {'av_pr': 105670, 'c': 295},
   'O': {'av_pr': 1179889, 'c': 163},
   'S': {'av_pr': 158241, 'c': 1294},
   'T': {'av_pr': 127070, 'c': 833}}},
 'RG': {'total': {'av_pr': 468286, 'c': 5045},
  'type': {'D': {'av_pr': 611302, 'c': 1248},
   'F': {'av_pr': 230749, 'c': 996},
   'O': {'av_pr': 1972394, 'c': 251},
   'S': {'av_pr': 384799, 'c': 1162},
   'T': {'av_pr': 308043, 'c': 1388}}},
 'RH': {'total': {'av_pr': 464643, 'c': 3755},
  'type': {'D': {'av_pr': 629482, 'c': 965},
   'F': {'av_pr': 240389, 'c': 883},
   'O': {'av_pr': 1211501, 'c': 273},
   'S': {'av_pr': 399298, 'c': 821},
   'T': {'av_pr': 327744, 'c': 813}}},
 'RM': {'total': {'av_pr': 342708, 'c': 3275},
  'type': {'D': {'av_pr': 569841, 'c': 250},
   'F': {'av_pr': 217114, 'c': 784},
   'O': {'av_pr': 695376, 'c': 115},
   'S': {'av_pr': 382589, 'c': 836},
   'T': {'av_pr': 317735, 'c': 1290}}},
 'S': {'total': {'av_pr': 221733, 'c': 8368},
  'type': {'D': {'av_pr': 253892, 'c': 1840},
   'F': {'av_pr': 114418, 'c': 640},
   'O': {'av_pr': 1226954, 'c': 505},
   'S': {'av_pr': 142259, 'c': 3027},
   'T': {'av_pr': 112414, 'c': 2356}}},
 'SA': {'total': {'av_pr': 172346, 'c': 4638},
  'type': {'D': {'av_pr': 220860, 'c': 1432},
   'F': {'av_pr': 119994, 'c': 283},
   'O': {'av_pr': 398591, 'c': 363},
   'S': {'av_pr': 130451, 'c': 1331},
   'T': {'av_pr': 106421, 'c': 1229}}},
 'SE': {'total': {'av_pr': 566818, 'c': 5135},
  'type': {'D': {'av_pr': 1066391, 'c': 70},
   'F': {'av_pr': 432371, 'c': 2944},
   'O': {'av_pr': 1611623, 'c': 317},
   'S': {'av_pr': 658058, 'c': 420},
   'T': {'av_pr': 560544, 'c': 1384}}},
 'SG': {'total': {'av_pr': 370382, 'c': 2853},
  'type': {'D': {'av_pr': 591798, 'c': 581},
   'F': {'av_pr': 214769, 'c': 644},
   'O': {'av_pr': 619006, 'c': 106},
   'S': {'av_pr': 379901, 'c': 646},
   'T': {'av_pr': 300827, 'c': 876}}},
 'SK': {'total': {'av_pr': 255179, 'c': 4426},
  'type': {'D': {'av_pr': 428670, 'c': 906},
   'F': {'av_pr': 137000, 'c': 539},
   'O': {'av_pr': 644363, 'c': 219},
   'S': {'av_pr': 227619, 'c': 1348},
   'T': {'av_pr': 155061, 'c': 1414}}},
 'SL': {'total': {'av_pr': 597571, 'c': 2122},
  'type': {'D': {'av_pr': 914319, 'c': 496},
   'F': {'av_pr': 309786, 'c': 589},
   'O': {'av_pr': 1950565, 'c': 106},
   'S': {'av_pr': 491627, 'c': 457},
   'T': {'av_pr': 423301, 'c': 474}}},
 'SM': {'total': {'av_pr': 426956, 'c': 1317},
  'type': {'D': {'av_pr': 743314, 'c': 140},
   'F': {'av_pr': 290791, 'c': 534},
   'O': {'av_pr': 784608, 'c': 46},
   'S': {'av_pr': 491217, 'c': 276},
   'T': {'av_pr': 408994, 'c': 321}}},
 'SN': {'total': {'av_pr': 293741, 'c': 3555},
  'type': {'D': {'av_pr': 402521, 'c': 949},
   'F': {'av_pr': 144642, 'c': 472},
   'O': {'av_pr': 857311, 'c': 158},
   'S': {'av_pr': 259044, 'c': 871},
   'T': {'av_pr': 210771, 'c': 1105}}},
 'SO': {'total': {'av_pr': 381401, 'c': 4241},
  'type': {'D': {'av_pr': 501795, 'c': 1129},
   'F': {'av_pr': 186402, 'c': 938},
   'O': {'av_pr': 1527535, 'c': 211},
   'S': {'av_pr': 299743, 'c': 909},
   'T': {'av_pr': 266959, 'c': 1054}}},
 'SP': {'total': {'av_pr': 306676, 'c': 1621},
  'type': {'D': {'av_pr': 426352, 'c': 510},
   'F': {'av_pr': 159171, 'c': 249},
   'O': {'av_pr': 576821, 'c': 81},
   'S': {'av_pr': 269476, 'c': 356},
   'T': {'av_pr': 229161, 'c': 425}}},
 'SR': {'total': {'av_pr': 158544, 'c': 1385},
  'type': {'D': {'av_pr': 240536, 'c': 142},
   'F': {'av_pr': 80492, 'c': 84},
   'O': {'av_pr': 870259, 'c': 79},
   'S': {'av_pr': 131090, 'c': 492},
   'T': {'av_pr': 77244, 'c': 588}}},
 'SS': {'total': {'av_pr': 304685, 'c': 3847},
  'type': {'D': {'av_pr': 434087, 'c': 831},

In [151]:
criteria_area = lambda pcode: re.search('[A-Z]*', pcode).group(0)
criteria_district = lambda pcode: pcode.split(" ")[0]

def data_for_year(year):
    areas = areas_for_year(year, criteria_area)
    districts = areas_for_year(year, criteria_district)
    return dict(areas.items() + districts.items())

In [153]:
all_data_by_year = {}

In [154]:
years = range(1995, 2017+1)
for year in years:
    print("Getting data for: {}".format(year))
    data = data_for_year(year)
    all_data_by_year[str(year)] = data

Getting data for: 1995
Getting data for: 1996
Getting data for: 1997
Getting data for: 1998
Getting data for: 1999
Getting data for: 2000
Getting data for: 2001
Getting data for: 2002
Getting data for: 2003
Getting data for: 2004
Getting data for: 2005
Getting data for: 2006
Getting data for: 2007
Getting data for: 2008
Getting data for: 2009
Getting data for: 2010
Getting data for: 2011
Getting data for: 2012
Getting data for: 2013
Getting data for: 2014
Getting data for: 2015
Getting data for: 2016
Getting data for: 2017

In [155]:
with open("all_data_by_year_and_type", 'w') as f:
    json.dump(all_data_by_year, f)

In [158]:
def areas_for_year_total(year, criteria):
    df = pd.read_csv('data/pp-{}.csv'.format(year), parse_dates=True, names=headers)
    df = df.dropna(subset=['Postcode'])
    
    per_postcode_area_total = df['Price'].groupby(df['Postcode'] \
        .map(criteria)) \
        .aggregate([np.mean, np.count_nonzero]) \
        .rename(columns={'count_nonzero': 'c', 'mean': 'av_pr'}) \
        .astype(int)
    
    result = {}
    areas = per_postcode_area_total.index
    areas_total = per_postcode_area_total.to_dict(orient="index")
    
    for area in areas:
        result[area] = areas_total[area]

    return result

criteria_area = lambda pcode: re.search('[A-Z]*', pcode).group(0)
criteria_district = lambda pcode: pcode.split(" ")[0]

def data_for_year(year):
    areas = areas_for_year_total(year, criteria_area)
    districts = areas_for_year_total(year, criteria_district)
    return dict(areas.items() + districts.items())

years = range(1995, 2017+1)
all_data_by_year_total = {}
for year in years:
    print("Getting data for: {}".format(year))
    data = data_for_year(year)
    all_data_by_year_total[str(year)] = data

Getting data for: 1995
Getting data for: 1996
Getting data for: 1997
Getting data for: 1998
Getting data for: 1999
Getting data for: 2000
Getting data for: 2001
Getting data for: 2002
Getting data for: 2003
Getting data for: 2004
Getting data for: 2005
Getting data for: 2006
Getting data for: 2007
Getting data for: 2008
Getting data for: 2009
Getting data for: 2010
Getting data for: 2011
Getting data for: 2012
Getting data for: 2013
Getting data for: 2014
Getting data for: 2015
Getting data for: 2016
Getting data for: 2017

In [159]:
with open("all_data_by_year", 'w') as f:
    json.dump(all_data_by_year_total, f)

# Fixing Holes in the Data

In the map geometry, there are occasionally places (e.g. WC1V) which have an area but do not have matching data (maybe because I only group by "WC1"). What I can do is find all those instances where I need extra data, and then get that data.

It feels like this will be very slow because I will need to loop over all the data for each of the items in my "to find" list :(. I won't be able to do a simple group by because . Maybe I can just get hold of a better map file instead?