In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## To do

- group postcodes by constituency / county?
- average house prices in group
- filter based on property type

### Column Headers
- Transaction unique identifier
- Date of Transfer
- Postcode
- Property Type (D=Detached, S = Semi-Detached, T = Terraced, F = Flats/Maisonettes, O = Other)
- Old/New (Y=Newly Built, N=an established residential building)
- Duration (F=Freehold, L=Leasehold)
- PAON (Primary Addressable Object Name)
- SAON (Secondary Addressable Object Name)
- Street
- Locality
- Town/City
- District
- County
- PPD Category Type (A = Standard Price Paid, B = Additional Price Paid)
- Record Status (A = Addition, C = Change, D = Delete)

### The table has 375,000 rows

In [27]:
headers = ["TID", "Price", "Date", "Postcode", "Prop. Type", "New?", "Duration", "PAON", "SAON", "Street", "Locality", "Town_City", "District", "County", "PPD", "Record_Status"]
df = pd.read_csv('data/pp-2017.csv', parse_dates=True, names=headers)

In [28]:
df.count()

TID              375098
Price            375098
Date             375098
Postcode         372511
Prop. Type       375098
New?             375098
Duration         375098
PAON             375098
SAON              49118
Street           367835
Locality         137581
Town_City        375098
District         375098
County           375098
PPD              375098
Record_Status    375098
dtype: int64

In [29]:
df.describe(include='all')

,TID,Price,Date,Postcode,Prop. Type,New?,Duration,PAON,SAON,Street,Locality,Town_City,District,County,PPD,Record_Status
count,375098,3.750980e+05,375098,372511,375098,375098,375098,375098,49118,367835,137581,375098,375098,375098,375098,375098
unique,375098,NaN,177,275997,5,2,2,41142,5435,114417,13163,1145,348,112,2,1
top,{47844C80-27E4-8986-E050-A8C063056488},NaN,2017-03-31 00:00,ST5 1LD,T,N,F,2,FLAT 1,HIGH STREET,MIDDLETON,LONDON,BIRMINGHAM,GREATER LONDON,A,A
freq,1,NaN,14376,159,105983,351953,285084,9102,2215,2922,377,25060,5509,42297,321636,375098
mean,NaN,3.288285e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,1.037674e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,1.350000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,2.150000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,3.420000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,9.876539e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df.head()

,TID,Price,Date,Postcode,Prop. Type,New?,Duration,PAON,SAON,Street,Locality,Town_City,District,County,PPD,Record_Status
0,{4C4EDFFF-6C65-1854-E050-A8C063054F34},325000,2017-02-17 00:00,SO50 9QN,T,Y,F,21,NaN,HAWKINS WAY,NaN,EASTLEIGH,EASTLEIGH,HAMPSHIRE,A,A
1,{4C4EDFFF-6C66-1854-E050-A8C063054F34},424950,2017-01-30 00:00,GU14 9FS,D,Y,F,14,NaN,DARTFORD RISE,NaN,FARNBOROUGH,RUSHMOOR,HAMPSHIRE,A,A
2,{4C4EDFFF-6C67-1854-E050-A8C063054F34},499950,2017-03-01 00:00,SO31 8LN,D,Y,F,50,NaN,CLEVERLEY RISE,BURSLEDON,SOUTHAMPTON,EASTLEIGH,HAMPSHIRE,A,A
3,{4C4EDFFF-6C68-1854-E050-A8C063054F34},410000,2017-03-06 00:00,GU14 8AG,T,N,F,12A,NaN,FARNBOROUGH STREET,NaN,FARNBOROUGH,RUSHMOOR,HAMPSHIRE,A,A
4,{4C4EDFFF-6C69-1854-E050-A8C063054F34},184500,2017-02-17 00:00,SO19 2DP,S,N,L,21,NaN,MANOR ROAD SOUTH,NaN,SOUTHAMPTON,SOUTHAMPTON,SOUTHAMPTON,A,A

In [31]:
avg_price_by_county = df['Price'].groupby(df['County']).aggregate(np.mean)

In [32]:
print len(avg_price_by_county)
print avg_price_by_county.head(10)

112
County
BATH AND NORTH EAST SOMERSET    418991.595833
BEDFORD                         349775.176226
BLACKBURN WITH DARWEN           170143.521390
BLACKPOOL                       139140.728250
BLAENAU GWENT                    90423.469444
BOURNEMOUTH                     284677.333538
BRACKNELL FOREST                472901.555834
BRIDGEND                        161886.458763
BRIGHTON AND HOVE               426256.554512
BUCKINGHAMSHIRE                 513248.788681
Name: Price, dtype: float64

# Display a map of the UK?

Or do I want to save that for the front end? Options for what to do next:
1. Create a csv of this data, and then parse them in a D3 front end
2. Create an API which pumps out this data, and then a D3 front end to parse
3. Create the map visualizations right here in this notebook (for prototyping at least)

I think option 3 makes the most sense. Let's see if I can leverage postcodes.io