In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

## To do

- group postcodes by constituency / county?
- average house prices in group
- filter based on property type

### Column Headers
- Transaction unique identifier
- Date of Transfer
- Postcode
- Property Type (D=Detached, S = Semi-Detached, T = Terraced, F = Flats/Maisonettes, O = Other)
- Old/New (Y=Newly Built, N=an established residential building)
- Duration (F=Freehold, L=Leasehold)
- PAON (Primary Addressable Object Name)
- SAON (Secondary Addressable Object Name)
- Street
- Locality
- Town/City
- District
- County
- PPD Category Type (A = Standard Price Paid, B = Additional Price Paid)
- Record Status (A = Addition, C = Change, D = Delete)

### The table has 375,000 rows

In [2]:
headers = ["TID", "Price", "Date", "Postcode", "Prop. Type", "New?", "Duration", "PAON", "SAON", "Street", "Locality", "Town_City", "District", "County", "PPD", "Record_Status"]
df = pd.read_csv('data/pp-2017.csv', parse_dates=True, names=headers)
df = df.dropna(subset=['Postcode'])

In [3]:
df.count()

TID              372511
Price            372511
Date             372511
Postcode         372511
Prop. Type       372511
New?             372511
Duration         372511
PAON             372511
SAON              47770
Street           365815
Locality         136541
Town_City        372511
District         372511
County           372511
PPD              372511
Record_Status    372511
dtype: int64

In [4]:
df.describe(include='all')

,TID,Price,Date,Postcode,Prop. Type,New?,Duration,PAON,SAON,Street,Locality,Town_City,District,County,PPD,Record_Status
count,372511,3.725110e+05,372511,372511,372511,372511,372511,372511,47770,365815,136541,372511,372511,372511,372511,372511
unique,372511,NaN,177,275997,5,2,2,40133,4341,114111,13103,1145,348,112,2,1
top,{47844C80-27E4-8986-E050-A8C063056488},NaN,2017-03-31 00:00,ST5 1LD,T,N,F,2,FLAT 1,HIGH STREET,MIDDLETON,LONDON,BIRMINGHAM,GREATER LONDON,A,A
freq,1,NaN,14228,159,105946,349834,283494,9092,2214,2906,374,24803,5487,41968,321499,372511
mean,NaN,3.270261e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,9.999748e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,1.367500e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,2.170000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,3.430000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,9.876539e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.head()

,TID,Price,Date,Postcode,Prop. Type,New?,Duration,PAON,SAON,Street,Locality,Town_City,District,County,PPD,Record_Status
0,{4C4EDFFF-6C65-1854-E050-A8C063054F34},325000,2017-02-17 00:00,SO50 9QN,T,Y,F,21,NaN,HAWKINS WAY,NaN,EASTLEIGH,EASTLEIGH,HAMPSHIRE,A,A
1,{4C4EDFFF-6C66-1854-E050-A8C063054F34},424950,2017-01-30 00:00,GU14 9FS,D,Y,F,14,NaN,DARTFORD RISE,NaN,FARNBOROUGH,RUSHMOOR,HAMPSHIRE,A,A
2,{4C4EDFFF-6C67-1854-E050-A8C063054F34},499950,2017-03-01 00:00,SO31 8LN,D,Y,F,50,NaN,CLEVERLEY RISE,BURSLEDON,SOUTHAMPTON,EASTLEIGH,HAMPSHIRE,A,A
3,{4C4EDFFF-6C68-1854-E050-A8C063054F34},410000,2017-03-06 00:00,GU14 8AG,T,N,F,12A,NaN,FARNBOROUGH STREET,NaN,FARNBOROUGH,RUSHMOOR,HAMPSHIRE,A,A
4,{4C4EDFFF-6C69-1854-E050-A8C063054F34},184500,2017-02-17 00:00,SO19 2DP,S,N,L,21,NaN,MANOR ROAD SOUTH,NaN,SOUTHAMPTON,SOUTHAMPTON,SOUTHAMPTON,A,A

In [6]:
avg_price_by_county = df['Price'].groupby(df['County']).aggregate(np.mean)

In [7]:
print len(avg_price_by_county)
print avg_price_by_county.head(10)

112
County
BATH AND NORTH EAST SOMERSET    414963.466052
BEDFORD                         355307.594755
BLACKBURN WITH DARWEN           170143.521390
BLACKPOOL                       139402.267385
BLAENAU GWENT                    90300.977591
BOURNEMOUTH                     285609.429895
BRACKNELL FOREST                468772.202532
BRIDGEND                        161185.490031
BRIGHTON AND HOVE               428552.935924
BUCKINGHAMSHIRE                 517746.714165
Name: Price, dtype: float64

In [8]:
avg_price_by_postcode_long = df['Price'].groupby(df['Postcode']).aggregate(np.mean)
print len(avg_price_by_postcode_long)
print avg_price_by_postcode_long.head(10)

275997
Postcode
AL1 1BH    2.608333e+05
AL1 1DH    5.585000e+05
AL1 1DU    7.800000e+05
AL1 1EA    1.025000e+06
AL1 1EE    1.035000e+06
AL1 1EX    3.500000e+05
AL1 1HF    9.000000e+05
AL1 1HY    2.407500e+06
AL1 1JE    3.925000e+05
AL1 1JR    2.775000e+05
Name: Price, dtype: float64

In [9]:
avg_price_by_postcode_district = df['Price'].groupby(df['Postcode'].map(lambda pcode: pcode.split(" ")[0])).aggregate(np.mean)
print len(avg_price_by_postcode_district)
print avg_price_by_postcode_district.head(10)

2292
Postcode
AL1     587035.796364
AL10    356429.896296
AL2     491614.760000
AL3     564789.604278
AL4     571469.696970
AL5     850726.401961
AL6     667624.852941
AL7     360458.391304
AL8     426044.602273
AL9     653268.571429
Name: Price, dtype: float64

In [10]:
p = "E5 1LY"
m = re.search('[A-Z]*', p)
m.group(0)

'E'

In [12]:
avg_price_by_postcode_area = df['Price'].groupby(df['Postcode'].map(lambda pcode: re.search('[A-Z]*', pcode).group(0))).aggregate(np.mean)
print len(avg_price_by_postcode_area)
print avg_price_by_postcode_area.head(10)

105
Postcode
AL    556230.425853
B     264795.327457
BA    326434.865691
BB    189751.837478
BD    159388.075573
BH    350369.946811
BL    173479.866337
BN    355016.076368
BR    513050.087193
BS    326309.131503
Name: Price, dtype: float64

In [27]:
avg_price_by_postcode_area.to_frame().reset_index().to_json('price_by_area.json', orient='values')

In [13]:
avg_price_by_postcode_district.to_frame().reset_index().to_json('price_by_district.json', orient='values')

# Display a map of the UK?

Or do I want to save that for the front end? Options for what to do next:
1. Create a csv of this data, and then parse them in a D3 front end
2. Create an API which pumps out this data, and then a D3 front end to parse
3. Create the map visualizations right here in this notebook (for prototyping at least)

I think option 3 makes the most sense. Let's see if I can leverage postcodes.io