In [2]:
import numpy as np
import pandas as pd

## To do

- group postcodes by constituency / county?
- average house prices in group
- filter based on property type

### Column Headers
- Transaction unique identifier
- Date of Transfer
- Postcode
- Property Type (D=Detached, S = Semi-Detached, T = Terraced, F = Flats/Maisonettes, O = Other)
- Old/New (Y=Newly Built, N=an established residential building)
- Duration (F=Freehold, L=Leasehold)
- PAON (Primary Addressable Object Name)
- SAON (Secondary Addressable Object Name)
- Street
- Locality
- Town/City
- District
- County
- PPD Category Type (A = Standard Price Paid, B = Additional Price Paid)
- Record Status (A = Addition, C = Change, D = Delete)

In [3]:
headers = ["TID", "Price", "Date", "Postcode", "Prop. Type", "New?", "Duration", "PAON", "SAON", "Street", "Locality", "Town_City", "District", "County", "PPD", "Record_Status"]
df = pd.read_csv('data/pp-2017.csv', names=headers)

In [4]:
df.head()

,TID,Price,Date,Postcode,Prop. Type,New?,Duration,PAON,SAON,Street,Locality,Town_City,District,County,PPD,Record_Status
0,{4C4EDFFF-6C65-1854-E050-A8C063054F34},325000,2017-02-17 00:00,SO50 9QN,T,Y,F,21,NaN,HAWKINS WAY,NaN,EASTLEIGH,EASTLEIGH,HAMPSHIRE,A,A
1,{4C4EDFFF-6C66-1854-E050-A8C063054F34},424950,2017-01-30 00:00,GU14 9FS,D,Y,F,14,NaN,DARTFORD RISE,NaN,FARNBOROUGH,RUSHMOOR,HAMPSHIRE,A,A
2,{4C4EDFFF-6C67-1854-E050-A8C063054F34},499950,2017-03-01 00:00,SO31 8LN,D,Y,F,50,NaN,CLEVERLEY RISE,BURSLEDON,SOUTHAMPTON,EASTLEIGH,HAMPSHIRE,A,A
3,{4C4EDFFF-6C68-1854-E050-A8C063054F34},410000,2017-03-06 00:00,GU14 8AG,T,N,F,12A,NaN,FARNBOROUGH STREET,NaN,FARNBOROUGH,RUSHMOOR,HAMPSHIRE,A,A
4,{4C4EDFFF-6C69-1854-E050-A8C063054F34},184500,2017-02-17 00:00,SO19 2DP,S,N,L,21,NaN,MANOR ROAD SOUTH,NaN,SOUTHAMPTON,SOUTHAMPTON,SOUTHAMPTON,A,A

In [5]:
gb = df.groupby(["County"])

In [9]:
avg_price_by_county = gb['Price'].mean()

In [10]:
print len(avg_price_by_county)
print avg_price_by_county.head(10)

112
County
BATH AND NORTH EAST SOMERSET    418991.595833
BEDFORD                         349775.176226
BLACKBURN WITH DARWEN           170143.521390
BLACKPOOL                       139140.728250
BLAENAU GWENT                    90423.469444
BOURNEMOUTH                     284677.333538
BRACKNELL FOREST                472901.555834
BRIDGEND                        161886.458763
BRIGHTON AND HOVE               426256.554512
BUCKINGHAMSHIRE                 513248.788681
Name: Price, dtype: float64

In [11]:
avg_price_by_county.index

Index([u'BATH AND NORTH EAST SOMERSET', u'BEDFORD', u'BLACKBURN WITH DARWEN',
       u'BLACKPOOL', u'BLAENAU GWENT', u'BOURNEMOUTH', u'BRACKNELL FOREST',
       u'BRIDGEND', u'BRIGHTON AND HOVE', u'BUCKINGHAMSHIRE',
       ...
       u'WEST MIDLANDS', u'WEST SUSSEX', u'WEST YORKSHIRE', u'WILTSHIRE',
       u'WINDSOR AND MAIDENHEAD', u'WOKINGHAM', u'WORCESTERSHIRE', u'WREKIN',
       u'WREXHAM', u'YORK'],
      dtype='object', name=u'County', length=112)